@charset "utf-8";
/*CSS reset*/
 html{_text-overflow:ellipsis; height:100%;}
html,body{color:#333;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img{border:0;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var,i,b{font-style:normal;font-weight:500;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6,b{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}sub{bottom:-0.25em;}
img,input,select{vertical-align:middle;display:inline-block;}
embed,object,a,button,input,select,textarea{outline:none;}
html,body{_height:100%;min-height:100%;}
body,button,input,select,textarea{font:12px/1.5 "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",\5FAE\8F6F\96C5\9ED1,tahoma,simsun,\5b8b\4f53;}
input,select,textarea{font-size:100%;}
input,textarea,a{outline: none;font-family:'Microsoft YaHei UI','Microsoft YaHei',"微软雅黑","宋体",Arial,Helvetica,sans-serif,SimSun,'Segoe UI',Tahoma,Helvetica,Sans-Serif; }
table,table tr td{ border-collapse:collapse; border-spacing:0;}
input, select, label {vertical-align: middle;font-family:'Microsoft YaHei UI','Microsoft YaHei',"微软雅黑","宋体",Arial,Helvetica,sans-serif,SimSun,'Segoe UI',Tahoma,Helvetica,Sans-Serif; outline:none;}
input[type="button"]{ cursor:pointer;}
fieldset,img{border:0;}
img{vertical-align:top;}
img:hover{opacity: 0.85!important; }
ins,a{text-decoration:none;}
a{outline:none;color:#333;}
input::-moz-focus-inner{border:0;}/*火狐虚线框*/
a:hover{text-decoration:underline;}

.nav_banner img{opacity: 1!important;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    box-shadow:0 0 0 60px #fff inset;
    -webkit-text-fill-color: #333;
}


::-webkit-input-placeholder{color:#ccc;font-size:14px;}
::-moz-placeholder{color:#ccc;font-size:14px;}/* firefox 19+ */
:-ms-input-placeholder{color:#ccc;font-size:14px;}/* ie */
input:-moz-placeholder{color:#ccc;font-size:14px;}
.bgf5{ background-color:#f5f5f5;}

.clearfix:after {clear: both;content: "";display: block;font-size: 0;height: 0;visibility: hidden;}
* html .clearfix{ zoom:1;}
*+ html .clearfix{ min-height:1px;}

.none{display: none;}
.show{display: block;}

/*Width & Height*/
.w{ width:100%;}
.h{ height:100%;}


/*other*/
.cp{ cursor:pointer;}
.oyu{overflow-y:auto; overflow-x: hidden;}

/*Location*/
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.bc{margin-left:0; margin-right:0;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.cb{ clear:both;}
.cl{ clear:left;}
.cr{ clear:right;}
.clearfix:after{content: "."; display: block; height: 0; line-height:0; clear: both; visibility: hidden;}
.clearfix{ /*display:inline-block; clear:both;*/}
*html .clearfix{ height:1%;}
*html .clearfix{ display:block;}
.vm{ vertical-align:middle;}
.vt{ vertical-align:top;}
.pr{ position:relative;}
.pa{ position:absolute;}
.zoom{ zoom:1;}
.hidden{ visibility:hidden;}
.none{ display:none;}
.db{ display:block;}
.inb{ display:inline-block;}
.inb{ *display:inline; _display:inline}

/*强制换行不换行*/
.nowrap{ white-space:nowrap;}
.ell{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}




/*公用头部**/
.wrap{width:100%;font:12px '微软雅黑';height:30px;background:#f2f2f2;color:#666;border:1px solid #ededee}
.header{width:1090px;margin:0 auto}
.header a{color:#666}
.header_lf{line-height:30px}
.header_rt{display:block}
.header_rt li{position:relative;zoom:1;padding:0 2px;text-align:center;height:30px;line-height:30px}
.header_rt li .rt_a{padding:0 14px 0 8px}
.header_rt li .sep{color:#dcd1cd}
.header_rt li .rt_a2 em{position:absolute;top:13px;right:10px;width:0;height:0;transition:transform .2s linear 0s}
.header_rt .hed_nav{position:relative;left:0;top:-1px;border:1px solid transparent;z-index:100}
.header_rt .hed_nav .rt_a2{padding:0 24px 0 16px}
.header_rt .hed_def .rt_a2 em{border-top:5px solid #666;border-left:5px solid transparent;border-right:5px solid transparent}
.header_rt .hed_nav:hover{height:31px;line-height:31px;background:#fff;border:1px solid #e3e4e5;border-bottom:0;position:relative;z-index:2}
.header_rt .hed_nav:hover em{-webkit-transform:rotate(180deg)}
.header_rt .hed_nav:hover .dropmenu{display:block}
.header_rt .hed_nav .dropmenu{display:none}
.dropmenu{width:90px;padding:0 10px;border:1px solid #e3e4e5;border-top:0;position:absolute;z-index:999;background:#fff;left:-1px}
.dropmenu li{width:90px;margin:0 auto}
.dropmenu li a{display:block;text-align:left}
.dropmenu li:nth-of-type(2){border-bottom:1px solid #e3e4e5}
.dropmenu li:nth-of-type(4){border-bottom:1px solid #e3e4e5}
.search{width: 100%;background: #fff;height:65px;padding:30px 0 5px 0;}
.search_nav{width:1090px;margin:0 auto;position: relative;background: #fff;}
.search_fixed{filter:alpha(opacity:0);opacity: 0;position: fixed; margin:0 auto;z-index: 999;top:0;padding:10px 0 0 0;box-shadow: 5px 5px 5px #ccc;}
.ser_lf{width:345px}
.ser_mid_top{background:#fff;position:relative;border:2px solid #333;width:510px;height:32px;border-top-right-radius:5px;border-bottom-right-radius:5px}
.ser_mid_btn1{font-size:15px;color:#ccc;vertical-align:middle;padding-left:5px}
.ser_mid_inp{font-size:13px;color:#999;width:428px;height:31px;outline:medium none;border:0}
.ser_mid_btn2{display:block;position:absolute;right:0;top:0;width:48px;height:32px;line-height:32px;padding-top:2px\9;background:#333;text-align:center;text-decoration:none}
.ser_mid_btn2 .ser_mid_icon{color:#fff;font-size:22px;cursor:pointer;vertical-align:middle}
.ser_mid_botm{padding:5px 0}
.ser_mid_botm a{color:#995;padding:0 8px}
.ser_mid_botm a:hover{color:#E31436;text-decoration:underline}
.ser_mid_botm .ser_cur{color:#E31436}
.ser_mid_botm em{color:#999}
.ser_rt_gwc{display:block;width:108px;height:30px;position:relative;text-align:center;color:#333;font:16px/30px "微软雅黑";border:1px solid #ddd;border-radius:3px}
.ser_rt_icon{position:absolute;top:6px;right:4px;display:block;border-radius:50%;width:20px;height:20px;line-height:20px;color:#fff;background:#e31436}

.nav_top{width:100%;border-bottom:2px solid #151515;background:#fff;}
.nav_head{width:1090px;margin:0 auto;height:68px;position: relative;z-index:10;}
.nav_head_lf{width:160px;height:40px;margin-top:28px;position:relative}
.nav_lf_s1{width:140px;padding-left:20px;height:40px;font:700 15px/40px "微软雅黑";background:#151515;color:#fff}
.nav_lf_s1 span{display:inline-block;width:87px;text-align:center}
.nav_lf_s2{width:160px;border-bottom:2px solid #000}
.nav_lf_s2 li{font-size:14px;height: 40px;*vertical-align: top;}
.nav_lf_s2 li h3{height:39px;line-height:39px;border-bottom:1px solid #443a38;color:#fff}
.s2_sp1,.s2_sp2,.s2_sp3{display:inline-block;overflow: hidden;}
.s2_sp1{width:38px;text-align:center}
.s2_sp2{width:76px;text-align:left;}
.s2_sp3{width:18px;text-align:left;}
.ft22{font-size:22px}
.nav_lf_s2 li{background: #2d2d2d;}
.nav_lf_s2 .default{width:150px;padding-left:10px;background:rgba(15,15,15,.82);}
.nav_lf_s2 .show{width:150px;border-left:3px solid #e32b42;padding-left:7px;background:#555}
.nav_lf_s2 .s2_lf_list{position:absolute;top:42px;left:160px;z-index:9;display:none;overflow:hidden;width:930px;height:399px;max-height:399px;border:1px solid #333;border-width:0 1px 1px 0;background:#fff;color:#333;text-align:left;cursor:auto;transition:height .4s}
.s2_list_main{overflow:hidden;margin:10px 20px 20px 20px;width:260px;max-height:370px}
.s2_list_title{height:34px;border-bottom:1px solid #EAEAEA;font-weight:700;font-size:14px;line-height:34px}
.s2_list_nav a{display:inline-block;margin-top:12px;padding:0 8px 0 10px;height:14px;border-right:1px solid #CCC;color:#666;font-size:13px;line-height:14px}
.s2_lf_nav{width:300px}
.nav_head_mid{margin-top:28px;font-weight:700;font-size:15px;line-height:40px}
.nav_head_mid a{padding:0 20px}
.nav_head_mid a:hover{color:#E31436}
.nav_head_rt{width:168px;height:68px;overflow:hidden}
/*公用底部**/
.footer{background:#fff}
.footer_mid,.footer_top{width:1090px;margin:0 auto}
.footer_top{padding:40px 0;border-bottom:1px solid #eaeaea;zoom:1}
.footer_top li{width:272px}
.footer_top li i{margin:0 12px 0 0}
.footer_top li .desc,.footer_top li .tit{display:block;line-height:22px}
.footer_top li .tit{font-size:18px;font-weight:700}
.footer_top li .desc{font-size:14px}
.f_icon{background:url(http://mm.bst.126.net/images/index/icon1.png?3905ac082cd95a05bfcf7a60e2cc04fe) no-repeat;display:inline-block;width:36px;height:36px}
.f_icon23{width:44px;height:44px;background-position:-751px 0}
.f_icon23_1{background-position:-812px 0}
.f_icon23_2{background-position:-873px 0}
.f_icon23_3{background-position:-935px 0}
.f_icon24{width:32px;height:32px;background-position:-752px -69px}
.f_icon24_1{background-position:-796px -69px}
.f_icon24_2{background-position:-840px -69px}
.first{width:194px;padding-right:40px;padding-left:30px}
.footer_mid{padding:40px 0 90px}
.footer_mid li{width:110px;padding:0 0 0 25px;height:128px;border-left:1px solid #eaeaea}
.footer_mid .first{width:194px;padding-right:40px;padding-left:30px}
.footer_mid .bd_none{border:none}
.footer_mid_top{display:block;width:200px;height:43px;line-height:45px;margin-bottom:20px;outline:0;cursor:pointer;z-index:9}
.footer_mid_top img{width:194px}
.footer_mid_fx{height:32px}
.footer_wx{position:relative;display:inline-block}
.footer_wx:hover .footer_wx_wb{display:block}
.item{display:inline-block;vertical-align:middle;height:32px;line-height:32px;margin-right:8px}
.footer_wx_wb{position:absolute;left:-44px;top:42px;display:none;z-index:10}
.footer_mid li dt{font-size:18px;margin-bottom:10px}
.footer_mid li dd{line-height:24px}
.footer_p1{text-align:center}
.arrowx{position:absolute;left:52px;top:0;right:auto}
.arrx,.arrx1{position:absolute;left:0;border-width:8px;border-style:dashed dashed solid dashed;width:0;height:0;font-size:0;line-height:0}
.arrx{top:-16px;border-color:transparent transparent #ededee transparent}
.arrx1{top:-15px;border-color:transparent transparent #fff transparent}
.footer_botm{position:relative;padding:20px 0;background:#333;line-height:26px;text-align:center}
.footer_botm{color:#c2c2c2}
.footer_botm a{color:#c2c2c2}
.footer_mr{margin-left:20px}
.footer_gan_img1 img{border-radius:5px;width:80px;height:30px}
.footer_gan_img2 img{height:30px;margin:5px 0 0 10px}





@font-face{font-family:'iconfont';src:url(http://mm.bst.126.net/css/fonts/iconfont.eot?ba4cbc537134cf2e9e25b87b062e7d31);src:url(http://mm.bst.126.net/css/fonts/iconfont.eot?#iefix) format('embedded-opentype'), 
  url(http://mm.bst.126.net/css/fonts/iconfont.woff?7ce3848113b54e420473577e49728471) format('woff'), 
  url(http://mm.bst.126.net/css/fonts/iconfont.ttf?342c9a165f0fbca7ffedc4fd6316319b) format('truetype'), 
  url(http://mm.bst.126.net/css/fonts/iconfont.svg?c27d58c0efd7fcf019fdbbeb69fe0c59) format('svg');

}
  
.iconfont{  font-family: "iconfont" !important;font-size:16px;color:#999;}

@font-face {font-family: "iconfontn";
          src: url('../font/iconfontn.eot'); /* IE9*/
          src: url('../font/iconfontn.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../font/iconfontn.woff') format('woff'), /* chrome, firefox */
          url('../font/iconfontn.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url('../font/iconfontn.svg#iconfontn') format('svg'); /* iOS 4.1- */
        }

        .iconfontn {
          font-family:"iconfontn" !important;
          font-size:16px;
          color:#999;
          font-style:normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
        }

   